.edit {

  display: flex;
  flex-direction: column;

  padding: 15px;
}

form {
  display: flex;
  flex-direction: column; 
}

input {

  padding: 14px;
  border-radius: 15px;
  margin-bottom: 25px;
  border: 1px solid rgb(187, 185, 185);
  
}

label {
  margin-bottom: 8px;
  color: #1ECEFD;
}